* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 16px;
}
header {
  max-width: 1512px;
  display: flex;
  padding: 15px 15px;
  justify-content: space-between;
  margin: 0 auto;
}
.language_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
nav,
.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  gap: 40px;
}
nav form {
  display: flex;
  width: 592px;
  position: relative;
}
nav form input {
  border: 1px solid #d9d9d9;
  outline: none;
  font-size: 1rem;
}
nav form > input:nth-of-type(1) {
  width: 50%;
  height: 42px;
  border-radius: 8px 0px 0px 8px;
  text-indent: 40px;
}
nav form > input:nth-of-type(2) {
  width: 50%;
  height: 42px;
  border-radius: 0 8px 8px 0;
  display: flex;
  padding: 14px;
  justify-content: center;
}
nav form .button_icon {
  background-color: #f65858;
  position: absolute;
  right: 0;
  width: 42px;
  height: 42px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 8px 8px 0;
}
nav form .button_icon img {
  width: 20px;
  height: 20px;
}
nav form .input_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 25%;
  left: 2%;
}

.login {
  gap: 22px;
  font-size: 0.9rem;
  font-weight: 500;
}
.login > a {
  text-decoration: none;
  color: #212121;
  cursor: pointer;
}

.login > a:last-child {
  padding: 8px 16px;
  background-color: #00798a;
  border-radius: 8px;
  color: #ffffff;
}

/* /////////////// style main section banner /////////////// */

main {
  max-width: 1196px;
  margin: 0 auto;
}

.banner,
.events_near {
  max-width: 100%;
  display: flex;
}
.banner .text {
  max-width: 564px;
  min-width: 564px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 96px 0px;
  max-width: 50%;
}

.banner .text h1 {
  font-size: 2.6rem;
}

.banner .text p {
  font-size: 1rem;
}
.banner .text a {
  width: 125px;
  height: 40px;
  border-radius: 8px;
  background-color: #00798a;
  text-decoration: none;
  color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.banner .image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ////////style events section/////////// */

.events_near,
.online_events,
.join_meetup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.events_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.events_nav {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.events h2 {
  font-size: 1.75rem;
  font-weight: 500;
}
.events_nav .location {
  width: 240px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #97cad153;
  padding: 0px 10px;
  border-radius: 8px;
  color: #00798a;
  font-weight: 600;
  font-size: 1.25rem;
}
.see_all_events a,
.upcoming_events a,
.card a {
  text-decoration: none;
  font-size: 1rem;
  color: #00798a;
  font-weight: 500;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 28px;
}

.grid li {
  height: 399px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 18px;
}

.grid li h3 {
  font-size: 1.25rem;

  width: 80%;
}
.grid li p {
  font-size: 0.86rem;
  color: #707070;
}
.grid li .time p {
  color: #212121;
  font-size: 0.86rem;
}
.grid li .fees p,
.grid li .going p {
  font-size: 1rem;
  color: #212121;
}
.grid li .time,
.grid li .going,
.grid li .fees {
  display: flex;
  align-items: center;
  gap: 2px;
}

.grid li .info {
  display: flex;
  gap: 16px;
}
.upcoming_events {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.join_meetup {
  background-color: rgb(151 202 209 / 17%);
}
.join_meetup_container {
  display: flex;
}
.join_meetup_container .content {
  padding: 36px 0px 36px 56px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.join_meetup_container .content p {
  max-width: 628px;
  line-height: 1.5;
}
.join_meetup_container .content button {
  width: 192px;
  height: 40px;
  background-color: #e32359;
  color: #ffff;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.join_meetup_container img {
  padding: 20px 56px 20px 0px;
}
.explore h2,
.popular_cities,
.how_meetup_works,
.firendships_container {
  margin-top: 64px;
}
.explore ul,
.cards_container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.explore ul li {
  list-style: none;
  font-weight: 700;
  color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  background-color: rgb(151 202 209 / 17%);
  padding: 20px;
  gap: 6px;
  border-radius: 8px;
}
.explore ul li p {
  width: 90px;
}

/* ///////////////////////////popular cities/////////////// */

.popular_cities_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popular_cities_container p {
  color: #707070;
}
.popular_cities ul {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}
.popular_cities ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  list-style: none;
  font-size: 1.25rem;
  gap: 24px;
  font-weight: 700;
}

.card_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card {
  width: 580px;
  background-color: rgb(151 202 209 / 17%);
  border-radius: 8px;
  display: flex;
  padding: 32px 0px 24px 0px;
  gap: 24px;
}
.card .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 379px;
}
.card img {
  width: 42px;
  height: 42px;
  margin-left: 24px;
}
